# Dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
.next/
**/.next/
out/
**/out/

# Production build
build/
**/build/
dist/
**/dist/

# TypeScript & Next build info
*.tsbuildinfo
**/*.tsbuildinfo
next-env.d.ts

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Environment variables
.env
.env*.local
**/.env
**/.env*.local

# Vercel
.vercel

# Editor & OS files
.DS_Store
*.pem
Thumbs.db
.vscode/
.idea/
